ANALISA DATA

Mengambil data pada suatu range

In [2]:
import pandas as pd
df = pd.read_csv("H05.csv")
print(df[:5])

                   nama fakultas  nilai_mat  nilai_kim  nilai_fis
0  Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1        Steven Margono    FMIPA      67.43      51.50      57.20
2          Ryan Sentosa    SAPPK      90.62      37.38      40.73
3  Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4      Alvin Natawiguna     FTSL      65.45      57.67      56.39

Menentukan nilai maksimum/minimum dari suatu data

In [3]:
import pandas as pd
df = pd.read_csv("H05.csv")


imax = df["nilai_mat"].idxmax()
print(df[imax:imax+1])

imin = df["nilai_mat"].idxmin()
print(df[imin:imin+1])

               nama fakultas  nilai_mat  nilai_kim  nilai_fis
31  Ria Tri Wahyuni     FTSL      100.0       39.9      49.78
                      nama fakultas  nilai_mat  nilai_kim  nilai_fis
2977  Denisa Melati Arsyah      FTI       20.0      33.74      40.58

Mengurutkan Data

In [4]:
print(df.sort_values(["nilai_mat", "nilai_kim"], ascending=[0,1]))

                            nama fakultas  nilai_mat  nilai_kim  nilai_fis
4047     Muhammad Hirzan Arrifqi    SAPPK     100.00      25.46      35.33
1843  Hanif Santyabudhi Sutiyoso    SITHS     100.00      26.26      25.47
964              Ken Kartawijaya      FTI     100.00      26.91      47.53
1580          Astrid Cintyaputri      FTI     100.00      27.00      42.50
4058          Benjamin Nathanael      FTI     100.00      27.28      42.42
...                          ...      ...        ...        ...        ...
217     Yunita Cahyani Rahadiani     STEI      31.22      60.62      72.58
4253                       Nelsi    SAPPK      31.09      14.68      25.27
259               Iqbal Dwiputra     FITB      29.83      39.58      50.19
3182           Bintang A S W A M     FITB      28.86      64.20      65.06
2977        Denisa Melati Arsyah      FTI      20.00      33.74      40.58

[5135 rows x 5 columns]

Tabel Frekuensi

In [100]:
print(df["nilai_mat"].value_counts())

nilai_mat
100.00    72
60.85      6
65.11      6
70.75      6
70.18      6
          ..
80.47      1
79.35      1
52.53      1
68.98      1
53.68      1
Name: count, Length: 3108, dtype: int64

Menentukan range dari suatu kolom

In [ ]:
minimum = df.min()
maximum = df.max()

print(maximum["nilai_mat"])
print(minimum["fakultas"])

Statistika Sederhana

In [14]:
df.describe()

         nilai_mat    nilai_kim    nilai_fis
count  5135.000000  5135.000000  5135.000000
mean     70.034312    44.991794    52.110226
std      13.047687    11.170284    11.608980
min      20.000000     2.090000     9.110000
25%      61.170000    37.520000    44.275000
50%      70.050000    44.920000    52.170000
75%      78.930000    52.585000    59.880000
max     100.000000    81.500000    92.570000

In [21]:
df['nilai_fis'].mean()

52.1102259006816

Koefisien Relasi

In [26]:
df["nilai_kim"].corr(df["nilai_fis"])

0.7988187423880273

VISUALISASI DATA

Bar Chart

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

df1 = pd.read_csv('P05-03.csv')
df1

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt,100,3,0,NaN,NaN,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,Central Region,Tanglin,1.29269,103.82623,Entire home/apt,550,6,0,NaN,NaN,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,Central Region,Kallang,1.31286,103.85996,Private room,58,30,0,NaN,NaN,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,Central Region,River Valley,1.29543,103.83801,Private room,56,14,0,NaN,NaN,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,Central Region,River Valley,1.29672,103.83325,Private room,65,90,0,NaN,NaN,7,365

In [9]:
df1.sort_values(["price"], ascending=[0])[0:10]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2978,20791161,YOUR entire PRIVATE LUXURY PENTHOUSE condo unit,122991242,Jj,West Region,Tuas,1.31909,103.64656,Entire home/apt,10000,2,5,2017-10-31,0.21,1,89
2392,17831833,Comfortable & Quiet Master Bedroom,68223771,Yolivia,West Region,Bukit Panjang,1.34775,103.77181,Private room,10000,1,1,2017-05-27,0.04,1,0
5823,32026675,Testing,20307016,David,Central Region,Kallang,1.29610,103.86613,Private room,10000,1,0,NaN,NaN,1,0
2100,16395877,The Club Residences - Contemporary Manor,84411185,Darren,Central Region,Southern Islands,1.25284,103.82225,Entire home/apt,8900,2,0,NaN,NaN,6,361
3485,22617828,The Club Residences - Contemporary Manor (A),84411185,Darren,Central Region,Southern Islands,1.25054,103.82551,Entire home/apt,8900,2,0,NaN,NaN,6,0
1319,11544732,P,60916030,Yin,Central Region,Outram,1.28348,103.84135,Private room,7000,2,5,2017-12-12,0.18,1,365
2764,19739630,Lakeside Master room of condo 裕廊湖畔公寓主人房,139204582,X-Roy,West Region,Jurong East,1.33633,103.72569,Private room,7000,2,0,NaN,NaN,1,0
7485,36915026,Love,106682987,Lily,West Region,Bukit Batok,1.35647,103.76084,Entire home/apt,6944,1,0,NaN,NaN,1,179
4399,27115768,Hotel style master bedroom,188629774,Jo,Central Region,Kallang,1.30004,103.85992,Private room,6000,1,0,NaN,NaN,1,0
7408,36652759,[Rare] CORNER TERRACE UP FOR Rent (Whole unit),5654051,Jonathan,East Region,Bedok,1.30947,103.92176,Entire home/apt,5000,365,0,NaN,NaN,1,365